{% load static %}
<style>
    .nav-bottom {
        overflow: hidden;
        margin: 0px;
        background-color: rgba(255, 240, 240, 0.9);
        {#background-color: rgba(241, 218, 217, 0.92);#}
        border-bottom-color: white;
        border-bottom: 5px;
        font-family: Calibri;
        font-palette: light;
        color: white;
        font-size: 14px;
        flood-color: rgba(255, 240, 240, 0.9);
        padding: 3px;

    }

{#body {color: #000000;}#}

</style>
<header class="pb-8">
    <div class="fixed-top">
        <nav class="navbar navbar-expand-md navbar-light sticky-top bg-white ">
            <div class="container-fluid px-md-4">
                <div class="d-flex w-100 navbar-collapse">
                    <a class="navbar-brand" href="/">Touch of Gold</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse"
                            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Categories

                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url "store:home" %}">All</a></li>
                                    {% for c in categories %}
                                        <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                                            <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>

                        </button>

                    <div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent2">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-reset" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="small text-muted">Hello,
                      {% if user.is_authenticated %}
                        {{ request.user.name }}
                      {% else %}
                      Login
                      {% endif %}
                    </div>
                    <span class="fs15 fw500">Account &amp; Lists
                    </span>
                    </span>
                  </a>
                  <div class="dropdown-menu rounded-0" aria-labelledby="navbarDropdown">
                    <div class="card border-0">
                      <div class="card-body">
{#                        <h6 class="card-title">My Account</h6>#}
                        <ul class="list-group list-group-flush dropdown-account-link">
                          {% if user.is_authenticated %}
                          <a href="{% url "account:dashboard" %}" class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">My Account</a>
{#                          <a href="#" class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">Orders</a>#}
                          <a href="{% url "account:logout" %}" class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">Logout</a>
                          {% else %}
                          <a href="{% url "account:login" %}" class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">Login</a>
                          {% endif %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

{#                        {% if user.is_authenticated %}#}
{#                            <a type="button" role="button" href="{% url "account:logout" %}"#}
{#                               class="btn btn-outline-secondary border-0 basket-btn">#}
{#                                <div>#}
{#                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"#}
{#                                         class="bi bi-door-closed" viewBox="0 0 16 16">#}
{#                                        <path#}
{#                                                d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>#}
{#                                        <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>#}
{#                                    </svg>#}
{#                                </div>#}
{#                                <span class="fs15 fw500">Logout</span>#}
{#                            </a>#}
{#                        {% else %}#}
{#                            <a type="button" role="button" href="{% url "account:login" %}"#}
{#                               class="btn btn-outline-secondary border-0 basket-btn">#}
{#                                <div>#}
{#                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"#}
{#                                         class="bi bi-door-closed" viewBox="0 0 16 16">#}
{#                                        <path#}
{#                                                d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>#}
{#                                        <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>#}
{#                                    </svg>#}
{#                                </div>#}
{#                                <span class="fs15 fw500">Login</span>#}
{#                            </a>#}
{#                        {% endif %}#}
{##}
{#                        <a type="button" role="button" href="{% url "account:dashboard" %}"#}
{#                           class="btn btn-outline-secondary border-0 basket-btn">#}
{#                            <div>#}
{#                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"#}
{#                                     class="bi bi-person" viewBox="0 0 16 16">#}
{#                                    <path#}
{#                                            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>#}
{#                                </svg>#}
{#                            </div>#}
{#                            <span class="fs15 fw500">Account</span>#}
{#                        </a>#}

                        <a type="button" role="button" href="{% url "basket:basket_summary" %}"
                           class="btn btn-outline-secondary border-0 basket-btn">

                            {% with total_qty=basket|length %}
                                <div id="basket-qty" class="basket-qty">
                                    {% if total_qty > 0 %}
                                        {{ total_qty }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </div>
                            {% endwith %}
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                     class="bi bi-cart3" viewBox="0 0 16 16">
                                    <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </svg>
                            </div>
                            <span class="fs15 fw500">Basket</span>
                        </a>
                    </div>
                    <div class="d-md-none d-lg-none d-xl-none">
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                                <li><a class="dropdown-item" href="{% url "store:home" %}">All</a></li>
                                {% for c in categories %}
                                    <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                                        <a class="dropdown-item"
                                           href="{{ c.get_absolute_url }}">{{ c.product_name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </ul>
                            <h6 class="card-title">My Account</h6>
                            <ul class="list-group list-group-flush dropdown-account-link">
                                {% if user.is_authenticated %}
                                    <a href="{% url "account:dashboard" %}" class="dropdown-item">Your Account</a>
                                    <a href="#" class="dropdown-item">Orders</a>
                                    <a href="{% url "account:logout" %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url "account:login" %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <form class="d-flex w-100 d-md-none">
                        <input class="form-control me-2" type="search" placeholder="Search products or FAQ"
                               aria-label="Search">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <nav class="nav-bottom">
            <ul class="nav justify-content-center ">
                {#        <ul class="nav justify-content-center navbar-expand-md-8 navbar-light" style="background-color: rgb(253,200,197)">#}
                <li class="nav-item">
                <li class="dropdown-menu">

                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false"></a>
                    {% for c in categories %}
                        <li {% if category.slug == c.slug %} class="selected" {% endif %}>
                            <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        </li>
                    {% endfor %}


                </li>
            </ul>
        </nav>
    </div>
</header>
<br><br><br><br><br>
{#    <li class="nav-item">#}
{#        <div class="dropdown">#}
{#            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"#}
{#               aria-expanded="false">#}



























{#<div id="content">{% block content %} {% endblock %}</div>#}

{#<footer class="container py-5 footer">#}
{#    <hr>#}
{#    <div class="row pt-4">#}
{#        <div class="col-12 col-md">#}
{#            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"#}
{#                 class="bi bi-asterisk" viewBox="0 0 16 16">#}
{#                <path#}
{#                        d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"/>#}
{#            </svg>#}
{#            <small class="d-block mb-3 text-muted">&copy; 2022</small>#}
{#        </div>#}
{#        <div class="col-6 col-md fs15">#}
{#            <h5>Features</h5>#}
{#            <ul class="list-unstyled">#}
{#                <li><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>#}
{#                <li><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>#}
{#                <li><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>#}
{#                <li><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>#}
{#                <li><a class="link-secondary text-decoration-none" href="#">Another one</a></li>#}
{#                <li><a class="link-secondary text-decoration-none" href="#">Last time</a></li>#}
{#            </ul>#}
{#        </div>#}
{#        <div class="col-6 col-md fs15">#}
{#            <h5>Resources</h5>#}
{#            <ul class="list-unstyled">#}
{#                <li><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>#}
{#                <li><a class="link-secondary text-decoration-none" href="#">Resource</a></li>#}
{#                <li><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>#}
{#                <li><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>#}
{#            </ul>#}
{#        </div>#}
{#        <div class="col-6 col-md fs15">#}
{#            <h5>Resources</h5>#}
{#            <ul class="list-unstyled">#}
{#                <li><a class="link-secondary text-decoration-none" href="#">Business</a></li>#}
{#                <li><a class="link-secondary text-decoration-none" href="#">E</a></li>#}
{#                <li><a class="link-secondary text-decoration-none" href="#">t</a></li>#}
{#                <li><a class="link-secondary text-decoration-none" href="#"></a></li>#}
{#            </ul>#}
{#        </div>#}
{#        <div class="col-6 col-md">#}
{#            <h5>About</h5>#}
{#            <ul class="list-unstyled">#}
{#                <li><a class="link-secondary text-decoration-none" href="#">Team</a></li>#}
{#                <li><a class="link-secondary text-decoration-none" href="#">Locations</a></li>#}
{#                <li><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>#}
{#                <li><a class="link-secondary text-decoration-none" href="#">Terms</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}

